.header {
  // .header__top
  &__top {
    min-height: 122px;
    align-items: center;
    justify-content: space-between;
  }
  // .header__top--left
  &__top--left {
  }
  // .header__logo
  &__logo {
  }
  // .header__top--right
  &__top--right {
    align-items: center;
    gap: 86px;
  }
  // .header__adress
  &__adress {
    position: relative;
    width: 265px;
    padding-left: 30px;
    font-weight: 700;
    &::before {
      content: "";
      position: absolute;
      background-image: url(../img/svg/header-label.svg);
      background-repeat: no-repeat;
      width: 30px;
      height: 30px;
      top: -10px;
      left: 0;
    }
  }
  .header-basket {
    position: relative;
    &__num {
      position: absolute;
      right: -14px;
      bottom: -15px;
      width: 20px;
      height: 20px;
      text-align: center;
      background-color: var(--accent);
      border-radius: 50%;
      font-size: 10px;
      line-height: 20px;
      font-weight: 500;
      color: var(--light);
    }
  }
  // .header__bottom
  &__bottom {
    background: var(--basic);
  }
}

.menu {
  // .menu__list
  &__list {
    font-weight: 700;
    gap: 50px;
    margin-left: 10px;
  }
  // .menu__item
  &__item {
  }
  // .menu__link
  &__link {
    color: var(--main-text);
  }
}

.header__logo {
  &--img {
  }
}
.user-list {
  align-items: center;
  padding-right: 20px;
  gap: 10px;
  // .user-list__item
  &__item {
    display: flex;
    align-items: center;
  }
  // .user-list__img
  &__img {
  }
}

.categories {
  min-height: 53px;
  align-items: center;
  justify-content: space-around;
}
