<section class="cards-nav">
  <div class="container">
    <ul class="list-reset cards-nav__list">
      <li class="cards-nav__item">
        <div class="cards-nav__item--text">
          <h3 class="cards-nav__title">Квадроциклы</h3>
          <a class="cards-nav__link" href="#">Подробее</a>
        </div>
        <div class="cards-nav__item--img">
          <img src="../img/cards-nav1.jpg" alt="img" />
        </div>
      </li>
      <li class="cards-nav__item">
        <div class="cards-nav__item--text">
          <h3 class="cards-nav__title">Гидроциклы</h3>
          <a class="cards-nav__link" href="#">Подробее</a>
        </div>
        <div class="cards-nav__item--img">
          <img src="../img/cards-nav2.jpg" alt="img" />
        </div>
      </li>
      <li class="cards-nav__item">
        <div class="cards-nav__item--text">
          <h3 class="cards-nav__title">Катера</h3>
          <a class="cards-nav__link" href="#">Подробее</a>
        </div>
        <div class="cards-nav__item--img">
          <img src="../img/cards-nav3.jpg" alt="img" />
        </div>
      </li>
      <li class="cards-nav__item">
        <div class="cards-nav__item--text">
          <h3 class="cards-nav__title">Снегоходы</h3>
          <a class="cards-nav__link" href="#">Подробее</a>
        </div>
        <div class="cards-nav__item--img">
          <img src="../img/cards-nav4.jpg" alt="img" />
        </div>
      </li>
      <li class="cards-nav__item">
        <div class="cards-nav__item--text">
          <h3 class="cards-nav__title">Квадроциклы</h3>
          <a class="cards-nav__link" href="#">Подробее</a>
        </div>
        <div class="cards-nav__item--img">
          <img src="../img/cards-nav5.jpg" alt="img" />
        </div>
      </li>
      <li class="cards-nav__item">
        <div class="cards-nav__item--text">
          <h3 class="cards-nav__title">Двигатели</h3>
          <a class="cards-nav__link" href="#">Подробее</a>
        </div>
        <div class="cards-nav__item--img">
          <img src="../img/cards-nav6.jpg" alt="img" />
        </div>
      </li>
    </ul>
  </div>
</section>
