<header class="header">
  <div class="container">
    <div class="header__top flex">
      <div class="header__top--left">
        <nav class="menu">
          <ul class="list-reset menu__list flex">
            <li class="menu__item">
              <a class="menu__link" href="#">Магазины</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">Акции</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">Доставка и оплата</a>
            </li>
          </ul>
        </nav>
      </div>
      <a href="#" class="header__logo">
        <img class="header__logo--img" width="80" height="76" src="../img/svg/Logo.svg" alt="logo" />
      </a>
      <div class="header__top--right flex">
        <span class="header__adress"><a class="header__adress--link" href="#"> Москва, ул. Науки 25</a></span>
        <ul class="list-reset user-list flex">
          <li class="user-list__item">
            <a class="user-list__item" href="#">
              <img class="user-list__img" src="../img/svg/header-heart.svg" alt="" />
            </a>
          </li>
          <li class="user-list__item">
            <a class="user-list__item" href="#">
              <img class="user-list__img" src="../img/svg/header-user.svg" alt="" />
            </a>
          </li>
          <li class="user-list__item">
            <a class="user-list__item header-basket" href="#">
              <img class="user-list__img" src="../img/svg/header-basket.svg" alt="" />
              <p class="header-basket__num">3</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="header__bottom">
      <ul class="list-reset categories list  flex">
        <li class="list__item">
          <a class="list__link" href="#">Квадроциклы</a>
        </li>
        <li class="list__item">
          <a class="list__link" href="#">Катера</a>
        </li>
        <li class="list__item">
          <a class="list__link" href="#">Гидроциклы</a>
        </li>
        <li class="list__item">
          <a class="list__link" href="#">Лодки</a>
        </li>
        <li class="list__item">
          <a class="list__link" href="#">Вездеходы</a>
        </li>
        <li class="list__item">
          <a class="list__link" href="#">Снегоходы</a>
        </li>
        <li class="list__item">
          <a class="list__link" href="#">Двигатели</a>
        </li>
        <li class="list__item">
          <a class="list__link" href="#">Запчасти</a>
        </li>
      </ul>
    </div>
  </div>
</header>
