<header class="header">
  <div class="container">
    <div class="header__top">
      <div class="header__left">
        <ul class="list-reset header__list flex">
          <li class="header__item">
            <a href="#" class="header__link">Магазины</a>
          </li>
          <li class="header__item">
            <a href="#" class="header__link">Акции</a>
          </li>
          <li class="header__item">
            <a href="#" class="header__link">Доставка и оплата</a>
          </li>
        </ul>
      </div>
      <a href="#" class="logo"><img src="../img/svg/Logo.svg" alt="logo" /></a>
      <div class="header__right"></div>
    </div>
  </div>
</header>
