<section class="hero">
  <div class="container hero__container">
    <div class="swiper hero__slider">
      <div class="hero__slider--container swiper-wrapper">
        <div class="hero__slider--slide swiper-slide">
          <img class="hero__slider--img" src="../img/slider-img.jpg" alt="slide" />
        </div>
        <div class="hero__slider--slide swiper-slide">
          <img class="hero__slider--img" src="../img/slider-img.jpg" alt="slide" />
        </div>
        <div class="hero__slider--slide swiper-slide">
          <img class="hero__slider--img" src="../img/slider-img.jpg" alt="slide" />
        </div>
        <div class="hero__slider--slide swiper-slide">
          <img class="hero__slider--img" src="../img/slider-img.jpg" alt="slide" />
        </div>
        <div class="hero__slider--slide swiper-slide">
          <img class="hero__slider--img" src="../img/slider-img.jpg" alt="slide" />
        </div>
        <div class="hero__slider--slide swiper-slide">
          <img class="hero__slider--img" src="../img/slider-img.jpg" alt="slide" />
        </div>
      </div>
      <div class="hero__slider--nav swiper-pagination"></div>
      <div class="hero__slider--prev swiper-button-prev"></div>
      <div class="hero__slider--next swiper-button-next"></div>
    </div>
    <div class="banner">
      <div class="banner__prices flex">
        <div class="banner__prices--promo-box">
          <span class="banner__prices--sale sale">Акция</span>
        </div>
        <div class="banner__prices--box">
          <span class="banner__prices--new-price">190 000 ₽</span>
          <span class="banner__prices--old-price">225 000 ₽</span>
        </div>
      </div>
      <div class="banner__content--box">
        <img class="banner__img" src="../img/hero-promotion1.png" alt="" />
        <h2 class="banner__title"><a class="banner__title--link" href="#">Лодочный мотор Suzuki DF9.9BRS</a></h2>
        <div class="banner__promo--deadline">
          <span class="banner__promo--deadline-text">Акция действует до:</span>
          <time class="banner__promo--deadline-time" datetime="2020-08-31">31.08.2020</time>
        </div>
      </div>
    </div>
  </div>
</section>
