<section class="cards">
  <div class="container cards__container">
    <div class="swiper cards__slider">
      <div class="swiper-wrapper slider-container">
        <div class="card swiper-slide">
          <div class="card__img">
            <img src="../img/product-1.jpg" alt="" />
          </div>
          <div class="card__text">
            <a href="#" class="card__link--name">Водонепроницаемый Рюкзак</a>
            <span class="card__price">9 800 ₽</span>
          </div>
          <a class="card__hover-link" href="#"> Посмотреть товар </a>
          <a class="card__link--heart" href="#">
            <img src="../img/svg/heart.svg" alt="" />
          </a>
          <a class="card__link--basket" href="#">
            <img src="../img/basket.png" alt="basket" />
          </a>
        </div>
        <div class="card swiper-slide">
          <span class="sale card__sale">sale</span>
          <div class="card__img">
            <img src="../img/product-2.jpg" alt="" />
          </div>
          <div class="card__text">
            <a href="#" class="card__link--name">Спасательный жилет BRP Men's Airflow PFD </a>
            <span class="card__price">6 900 ₽</span>
          </div>
          <a class="card__hover-link" href="#"> Посмотреть товар </a>
          <a class="card__link--heart" href="#">
            <img src="../img/svg/heart.svg" alt="" />
          </a>
          <a class="card__link--basket" href="#">
            <img src="../img/basket.png" alt="basket" />
          </a>
        </div>
        <div class="card swiper-slide">
          <div class="card__img">
            <img src="../img/product-3.jpg" alt="" />
          </div>
          <div class="card__text">
            <a href="#" class="card__link--name"> BRP Audio-Premium System</a>
            <span class="card__price">68 000 ₽</span>
          </div>
          <a class="card__hover-link" href="#"> Посмотреть товар </a>
          <a class="card__link--heart" href="#">
            <img src="../img/svg/heart.svg" alt="" />
          </a>
          <a class="card__link--basket" href="#">
            <img src="../img/basket.png" alt="basket" />
          </a>
        </div>
        <div class="card product-card product-card--unavailable swiper-slide">
          <span class="sale card__sale">sale</span>
          <div class="card__img">
            <img src="../img/product-4.jpg" alt="img" />
          </div>
          <div class="card__text">
            <a href="#" class="card__link--name">Спасательное снаряжение</a>
            <span class="product-card__availability">нет в наличии</span>
            <a class="product-card__notify" href="#">Cообщить о поступлении</a>
          </div>
          <a class="card__hover-link" href="#"> Посмотреть товар </a>
          <a class="card__link--heart" href="#">
            <img src="../img/svg/heart.svg" alt="" />
          </a>
        </div>
        <div class="card swiper-slide">
          <div class="card__img">
            <img src="../img/product-1.jpg" alt="" />
          </div>
          <div class="card__text">
            <a href="#" class="card__link--name">Водонепроницаемый Рюкзак</a>
            <span class="card__price">9 800 ₽</span>
          </div>
          <a class="card__hover-link" href="#"> Посмотреть товар </a>
          <a class="card__link--heart" href="#">
            <img src="../img/svg/heart.svg" alt="" />
          </a>
          <a class="card__link--basket" href="#">
            <img src="../img/basket.png" alt="basket" />
          </a>
        </div>
        <div class="card swiper-slide">
          <span class="sale card__sale">sale</span>
          <div class="card__img">
            <img src="../img/product-2.jpg" alt="" />
          </div>
          <div class="card__text">
            <a href="#" class="card__link--name">Спасательный жилет BRP Men's Airflow PFD </a>
            <span class="card__price">9 800 ₽</span>
          </div>
          <a class="card__hover-link" href="#"> Посмотреть товар </a>
          <a class="card__link--heart" href="#">
            <img src="../img/svg/heart.svg" alt="" />
          </a>
          <a class="card__link--basket" href="#">
            <img src="../img/basket.png" alt="basket" />
          </a>
        </div>
        <div class="card swiper-slide">
          <div class="card__img">
            <img src="../img/product-3.jpg" alt="" />
          </div>
          <div class="card__text">
            <a href="#" class="card__link--name"> BRP Audio-Premium System</a>
            <span class="card__price">9 800 ₽</span>
          </div>
          <a class="card__hover-link" href="#"> Посмотреть товар </a>
          <a class="card__link--heart" href="#">
            <img src="../img/svg/heart.svg" alt="" />
          </a>
          <a class="card__link--basket" href="#">
            <img src="../img/basket.png" alt="basket" />
          </a>
        </div>
        <div class="card product-card product-card--unavailable swiper-slide">
          <span class="sale card__sale">sale</span>
          <div class="card__img">
            <img src="../img/product-4.jpg" alt="img" />
          </div>
          <div class="card__text">
            <a href="#" class="card__link--name">Спасательное снаряжение</a>
            <span class="product-card__availability">нет в наличии</span>
            <a class="product-card__notify" href="#">Cообщить о поступлении</a>
          </div>
          <a class="card__hover-link" href="#"> Посмотреть товар </a>
          <a class="card__link--heart" href="#">
            <img src="../img/svg/heart.svg" alt="" />
          </a>
        </div>
      </div>
    </div>
    <div class="cards__slider--prev swiper-button-prev"></div>
    <div class="cards__slider--next swiper-button-next"></div>
  </div>
</section>
