<section class="products">
  <div class="container products__container">
    <h2 class="products__title title">С этим товаром покупают</h2>
    <ul class="list-reset products-list flex list">
      <li class="list__item">
        <a class="list__link products__link" href="#">запчасти</a>
      </li>
      <li class="list__item">
        <a class="list__link products__link" href="#">моторы</a>
      </li>
      <li class="list__item">
        <a class="list__link products__link" href="#">шины </a>
      </li>
      <li class="list__item">
        <a class="list__link products__link" href="#">электроника</a>
      </li>
      <li class="list__item">
        <a class="list__link products__link" href="#">инструменты</a>
      </li>
      <li class="list__item">
        <a class="list__link products__link" href="#">аксессуары </a>
      </li>
    </ul>
  </div>
</section>
<section class="cards">
  <div class="container cards__container">
    <div class="swiper cards__slider">
      <div class="swiper-wrapper slider-container">
        <div class="card swiper-slide">
          <div class="card__img">
            <img src="../img/product-5.jpg" alt="" />
          </div>
          <div class="card__text">
            <a href="#" class="card__link--name">BRP Audio-портативная система</a>
            <span class="card__price">9 800 ₽</span>
          </div>
          <a class="card__hover-link" href="#"> Посмотреть товар </a>
          <a class="card__link--heart" href="#">
            <img src="../img/svg/heart.svg" alt="" />
          </a>
          <a class="card__link--basket" href="#">
            <img src="../img/basket.png" alt="basket" />
          </a>
        </div>
        <div class="card swiper-slide">
          <span class="sale card__sale">sale</span>
          <div class="card__img">
            <img src="../img/product-6.jpg" alt="" />
          </div>
          <div class="card__text">
            <a href="#" class="card__link--name">Garmin Echomap Plus 62cv</a>
            <span class="card__price">45 800 ₽</span>
          </div>
          <a class="card__hover-link" href="#"> Посмотреть товар </a>
          <a class="card__link--heart" href="#">
            <img src="../img/svg/heart.svg" alt="" />
          </a>
          <a class="card__link--basket" href="#">
            <img src="../img/basket.png" alt="basket" />
          </a>
        </div>
        <div class="card swiper-slide">
          <div class="card__img">
            <img src="../img/product-7.jpg" alt="" />
          </div>
          <div class="card__text">
            <a href="#" class="card__link--name">RF D.E.S.S.TM Key</a>
            <span class="card__price">68 000 ₽</span>
          </div>
          <a class="card__hover-link" href="#"> Посмотреть товар </a>
          <a class="card__link--heart" href="#">
            <img src="../img/svg/heart.svg" alt="" />
          </a>
          <a class="card__link--basket" href="#">
            <img src="../img/basket.png" alt="basket" />
          </a>
        </div>
        <div class="card product-card product-card--unavailable swiper-slide">
          <span class="sale card__sale">sale</span>
          <div class="card__img">
            <img src="../img/product-8.jpg" alt="img" />
          </div>
          <div class="card__text">
            <a href="#" class="card__link--name">Мужской костюм 3мм</a>
            <span class="product-card__availability">нет в наличии</span>
            <a class="product-card__notify" href="#">Cообщить о поступлении</a>
          </div>
          <a class="card__hover-link" href="#"> Посмотреть товар </a>
          <a class="card__link--heart" href="#">
            <img src="../img/svg/heart.svg" alt="" />
          </a>
        </div>
        <div class="card swiper-slide">
          <div class="card__img">
            <img src="../img/product-5.jpg" alt="" />
          </div>
          <div class="card__text">
            <a href="#" class="card__link--name">BRP Audio-портативная система</a>
            <span class="card__price">9 800 ₽</span>
          </div>
          <a class="card__hover-link" href="#"> Посмотреть товар </a>
          <a class="card__link--heart" href="#">
            <img src="../img/svg/heart.svg" alt="" />
          </a>
          <a class="card__link--basket" href="#">
            <img src="../img/basket.png" alt="basket" />
          </a>
        </div>
        <div class="card swiper-slide">
          <span class="sale card__sale">sale</span>
          <div class="card__img">
            <img src="../img/product-6.jpg" alt="" />
          </div>
          <div class="card__text">
            <a href="#" class="card__link--name">Garmin Echomap Plus 62cv</a>
            <span class="card__price">45 800 ₽</span>
          </div>
          <a class="card__hover-link" href="#"> Посмотреть товар </a>
          <a class="card__link--heart" href="#">
            <img src="../img/svg/heart.svg" alt="" />
          </a>
          <a class="card__link--basket" href="#">
            <img src="../img/basket.png" alt="basket" />
          </a>
        </div>
        <div class="card swiper-slide">
          <div class="card__img">
            <img src="../img/product-7.jpg" alt="" />
          </div>
          <div class="card__text">
            <a href="#" class="card__link--name">RF D.E.S.S.TM Key</a>
            <span class="card__price">68 000 ₽</span>
          </div>
          <a class="card__hover-link" href="#"> Посмотреть товар </a>
          <a class="card__link--heart" href="#">
            <img src="../img/svg/heart.svg" alt="" />
          </a>
          <a class="card__link--basket" href="#">
            <img src="../img/basket.png" alt="basket" />
          </a>
        </div>
        <div class="card product-card product-card--unavailable swiper-slide">
          <span class="sale card__sale">sale</span>
          <div class="card__img">
            <img src="../img/product-8.jpg" alt="img" />
          </div>
          <div class="card__text">
            <a href="#" class="card__link--name">Мужской костюм 3мм</a>
            <span class="product-card__availability">нет в наличии</span>
            <a class="product-card__notify" href="#">Cообщить о поступлении</a>
          </div>
          <a class="card__hover-link" href="#"> Посмотреть товар </a>
          <a class="card__link--heart" href="#">
            <img src="../img/svg/heart.svg" alt="" />
          </a>
        </div>
      </div>
    </div>
    <div class="cards__slider--prev swiper-button-prev"></div>
    <div class="cards__slider--next swiper-button-next"></div>
  </div>
</section>
