<section class="search">
  <div class="container">
    <ul class="list-reset search__list">
      <li class="search__item">
        <a class="search__link" href="#">Поиск по  номеру</a>
      </li>
      <li class="search__item">
        <a class="search__link" href="#">Поиск по марке</a>
      </li>
      <li class="search__item">
        <a class="search__link" href="#">Поиск по названию товара</a>
      </li>
    </ul>
    <form class="search__form" >
      <input class="search__input" type="text" placeholder="Введите марку ">
      <button class="search__btn btn">искать</button>
    </form>
  </div>
</section>
